html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0px auto;
    max-width: 1000px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}